[Unit]
Description=etcd distributed key-value store
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=etcd
Group=etcd
ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname }} \
  --data-dir /var/lib/etcd \
  --listen-peer-urls http://{{ ansible_host }}:2380 \
  --initial-advertise-peer-urls http://{{ ansible_host }}:2380 \
  --listen-client-urls http://{{ ansible_host }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://{{ ansible_host }}:2379 \
  --initial-cluster {% for h in groups['etcd'] %}{{ h }}=http://{{ hostvars[h].ansible_host }}:2380{% if not loop.last %},{% endif %}{% endfor %} \
  --initial-cluster-token pg-ha-lab-etcd \
  --initial-cluster-state new
Restart=on-failure
RestartSec=5
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
